.cabecalho {
	background-color:	var(--branco);
	display:			flex;
	justify-content:	space-between;
	align-items:		center;
	position:			relative;
}

.container {
	display:		flex;
	align-items:	center;
}

.menu-hamburger {
	width:		24px;
	height:		24px;
	
	background-image:		url(../icons/menu.svg);
	background-repeat:		no-repeat;
	background-position:	center;

	display: inline-block;
}

.container-img {
	padding: 1em;
}

.lista-menu {
	display:	none;
	position:	absolute;
	top:		100%;
	width:		60vw;
	background: var(--branco);
}

/*
	destrinchando a linha abaixo:
	caso a classe citada esteja checada (checked), ele procurará o referente citado logo seguinte (~ referente-aqui),
	atribuindo os valores citados dentro dos colchetes
*/
.container-botao:checked ~ .lista-menu {
	display:	block;
}

.container-botao:checked ~ .container-hamburger > .menu-hamburger {
	background-image: url(../icons/hamburger-act.svg);
}

.container-botao:checked ~ .container-hamburger {
	background: var(--azul-degrade);
}

.menu-titulo, .menu-item {
	padding:			1em;
	background-color:	var(--branco);
	margin:				0;
}

.menu-titulo {
	font-weight:	700;
	color:			var(--cor-categoria);
}

.menu-link {
	text-decoration: 	none;
	text-transform:		uppercase;

	background:					var(--azul-degrade);
	-webkit-background-clip:	text;
	-webkit-text-fill-color:	transparent;
	background-clip:			text;
}

.container-titulo, .opcoes, .container-texto {
	display: none;
}

.menu-item:active {
	background: var(--azul-degrade);
}

.menu-item:active > .menu-link {
	-webkit-text-fill-color: var(--branco);
}

@media screen and (min-width: 1024px) {
	.container-titulo {
		font-family:	var(--fonte-titulo);
		font-size:		30px;
		font-weight:	400;
		display:		block;
	}

	.titulo-negrito {
		font-weight:	700;
	}

	.opcoes {
		display: flex;
	}

	.opcoes-itens {
		padding:			2em 1em;
		text-transform:		uppercase;
	}

	.opcoes-link {
		text-decoration:	none;
		color:				var(--preto);
	}

	.menu-hamburger, .container-transparente {
		display: none;
	}

	.opcao-botao:checked ~ .lista-menu {
		display:	block;
		width:		auto;
	}

	.opcao-botao:checked ~ .container-opcoes > .opcoes-itens {
		background: var(--azul-degrade);
		color:		var(--branco);
	}

	.menu-item:hover {
		background: var(--azul-degrade);
	}

	.menu-item:hover > .menu-link {
		-webkit-text-fill-color: var(--branco);
	}
}

@media screen and (min-width: 1728px) {
	.container {
		padding:	0 2em;
	}

	.opcoes {
		margin-right: auto;
	}

	.container-link {
		display:			flex;
		align-items:		center;
		color:				var(--preto);
		text-decoration:	none;
	}

	.container-texto {
		display: block;
	}
}